*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: 20px 10%;
}

/* Generics */

.card{
    width: calc(100% / 3 - 15px);
    height: 550px;
    margin: 5px;
    display: inline-block;
    position: relative;
    background-color: darkgrey;
}

.item-details{
    position:absolute;
    top: 560px;
}

/* Cards pictures */
#levis{
    background-image: url(img/1.webp);
}

