*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
}

#container{
    margin: 20px 10%;
}

/* Generics */

.card{
    width: calc(100% / 3 - 15px);
    height: 550px;
    margin: 10px 5px 50px 5px; 
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.card:hover{
    cursor: pointer;
}

.item-details{
    position:absolute;
    top: 530px;
}

/* Utilities */

.item-details .mark{
    color: red;
    font-weight: bold;
}

.favorite{
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    font-size: 30px;
    top: 20px;
    right: 0;
}

.favorite:hover{
    color:rgb(235,0,55);
}

.discount{
    background:rgb(235,0,55);
    padding: 5px;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 28px;
}

.sustainable{
    background:rgb(4,137,92);
    padding: 5px;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 28px;
    left: 60px;
}

/* Cards pictures */

#levis-relaxed{
    background-image: url(img/1.webp);
}

#levis-relaxed:hover{
    background-image: url(img/1b.webp);
}

#guess{
    background-image: url(img/2.webp);
}

#guess:hover{
    background-image: url(img/2b.webp);
}

#come-zucchero-filato{
    background-image: url(img/3.webp);
}

#come-zucchero-filato:hover{
    background-image: url(img/3b.webp);
}

#levis{
    background-image: url(img/4.webp);
}

#levis:hover{
    background-image: url(img/4b.webp);
}

#maya-deluxe{
    background-image: url(img/5.webp);
}

#maya-deluxe:hover{
    background-image: url(img/5b.webp);
}

#esprit{
    background-image: url(img/6.webp);
}

#esprit:hover{
    background-image: url(img/6b.webp);
}